/* .App {
  text-align: center;
} */
 .Header{
  text-align: center;
 }
.flexDisplay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6%;
}
.Image{
  width: 70px;
  height: 60px;
}
.Info{
  font-weight: 600;
  display: flex;
  justify-content: center
}
 .Icon{
  display: flex;
  justify-content: center
 }
 .label{
  width: 800px;
 }
@media  (max-width: 580px) {
  .flexDisplay {
    flex-direction: column;
    
  }
  .Icon-text{
    display: flex;
  }
  .Info{
    padding-top: 4px;
    padding-left: 5px;
  }
  .Image{
    width: 40px;
    height: 30px;
  }
  .flexDisplay{
    margin: 5%;
  }
  .Info-icon{
    padding-bottom: 20px;
  }
  .Detail{
    padding-left: 20px;
  }
  .Header{
    padding-left: 5px;

  }
}